@font-face {
    font-family: "LCD";
    src: url('lcd.ttf');
  }

* {
    font-size: 1.6rem;
    font-family: LCD;
}

body {
    background-color: lightgoldenrodyellow;
}

.container {
    margin: 0 auto;
    align-content: center;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.btn-container {
    margin-top: 1rem;
    width: 100%;
    height: auto;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.c-selection {
    margin: 2rem 0 3rem 0;
    width: 100%;
    height: 2.5rem;
}

.scissors-btn, .rock-btn, .paper-btn {
    width: 7rem;
    max-width: 7rem;
    font-size: 1.2rem;
    padding: .4rem;
}

img {
    width: 100%;
}

.score {
    width: 100%;
    margin: .3rem 0 .3rem;
}


.play-again {
    margin-top: 1rem;
    max-width: 12rem;
    padding: .4rem;
}

.outcome {
    font-size: 2rem;
    margin: 2rem 0 3rem 0;
    width: 100%;
}

@media screen and (max-width: 800px) {
   .container {
      width: 85%;
    }

    * {
        font-size: 1rem;
    }
  }